<%- include('layout/header', { title: 'Weibo - Home page' , isNav: true, list: true, isInputBlog: true })%>

  <div class="container margin-top-20">
    <div class="row">
      <!-- left -->
      <div class="col-8">
        <!-- blog input area -->
        <%- include('widgets/input')%>

      </div> 

      <!-- right -->
      <div class="col-4">
        todo: right side
      </div> 
    </div>
  </div>

  <%- include('layout/footer')%>